<a href="https://colab.research.google.com/github/pablogonzalez4/Python-for-Pablo/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1.
* Write a function that determines if a year (given as parameter) is a leap year or not.
    * The function should return a Boolean value.
    * A year is a leap year if it is divisible by 4, unless it is also divisible by 100, with the exception that a year divisible by 400 is a leap year.

# Exercise 2.
* Write a function that takes two lists of integers as parameters, representing intervals.
    * The function must check that each list contains exactly 2 elements, and computes the union of the two intervals.

# Exercise 3.
* Write a function that determines if a number given as parameter is a perfect number.
    * A perfect number is a positive integer equal to the sum of its positive proper divisors (divisors excluding the number itself).

# Exercise 4.
* Write a function that returns the min and max values of a list given as parameter.

In [11]:
def min_max(l):
  # min=0
  # max=0
  # return min, max
  if len(l)==0:
    return None
  min=l[0]
  max=l[0]
  for nb in l: # for all number in the list (FOR LOOP)
    if nb < min:
      min = nb
      print(f"Found a new min:{min}")
    elif nb > max:
      max = nb
    return min, max

In [12]:
l=[34,5,16,1,18]
min,max = min_max(l) # a=min_max(l)

In [14]:
print(f"min:{min}, max:{max}") # print(a) & print(a[0])

min:34, max:34

# Exercise 5.
* Write a function that checks if a list given as parameter is a Fibonacci sequence.

In [53]:
def isFibo(l):
  if len(l)<3:
    return False
  if l[0]!=0:
    return False
  for i in range(2, len(l)):
    if l[i]!=l[i-1]+l[i-2]:
      return False
    return True

In [54]:
l=[0,1,1,3,5,8,13]
isFibo(l)

True

# Exercise 6.
* Write a function that takes as input a two-dimensional list and computes the average for each row in the list.
    * The function should return a list containing the average value of each row.

In [38]:
# Two dimensional list, the list has 3 elemetns, each sub-list has 3 elements
l=[[1,2,3],
   [4,5,6],
   [7,8,9]]
#print(l[0],l[1]) -> gives the first two elemtns, which is the first list 1,2,3 and the second list 4,5,6

def mean_per_line(l):
  for i, line in enumerate(l):
    sum = 0
    for elt in line:
      sum = sum + elt
    print(f"Avg for line {i+1}: {sum/len(line)}")

In [39]:
mean_per_line(l)

Avg for line 1: 2.0
Avg for line 2: 5.0
Avg for line 3: 8.0

In [58]:
def getPrimeNumbers(n): # n = 100
  p = 2
  prime = [True]*n
  prime[0] = False
  prime [1] = False

  foundPrime = True

  while foundPrime:
    for div in range(2*p,n,p):
     prime[div] = False
    p = p + 1
    while p<len(prime) and prime[p]==False:
      p = p + 1
    if p == len(prime):
      foundPrime = False
  return[i for i, v in enumerate(prime) if v==True]

In [59]:
getPrimeNumbers(10)

[2, 3, 5, 7]

In [60]:
for i in range(2,10,2):
  print(i)

2
4
6
8

In [61]:
for v in getPrimeNumbers(1000):
  print(v)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997